.titulo{
	color: blue;
}

#bebidas{
	width: 60%;
}

ul{
   display:inline-block;
   vertical-align: top;
   width: 30%;
   margin-right: 5%;
   font-size: 30px;
}

h3{
	width: 30%;
}